
/* Jquery toolbar icons */

.ui-icon-projects { background-position: -192px -144px; }
.ui-icon-terms { background-position: -208px -144px; }
.ui-icon-labels { background-position: -208px -80px; }
.ui-icon-edges { background-position: -144px -176px; }
.ui-icon-nodes { background-position: -128px -80px; }
.ui-icon-pin { background-position: -208px -176px; }
.ui-icon-thunder { background-position: -208px -160px; }
.ui-icon-arrows { background-position: -96px -80px; }

/* Jquery customization */

.fg-button { margin:0 4px 0 0; text-decoration:none; position: relative; text-align: center; }
.sliders { margin:0 4px 0 0; text-decoration:none; position: relative; text-align: center; }
.icon-right { float: right; }

.fg-buttonset-single .fg-button,
.fg-buttonset-multi .fg-button { margin-right: -1px;}

.fg-toolbar { padding: .2em; }

.fg-toolbar .fg-buttonset { 
    margin: 1.2em;
    padding-left: 1px;
}
.sliders {
    margin: 1.5em;
    padding-left: 30px;
    border: 1px;
}


body {
    font-size: .6em;
}

#title {
    margin: 5px;
    width: 480px;
}

#toggle-unselect {
    float:right;
    margin: 7px;
    position: absolute;
    right: 0px;
    top: 0px;
}

#appletdiv {
	float: left;
}

#infodiv {
    margin: 2px 2px;
    float: right;
}

#node_label {
    font-size: 12pt;
}

#node_table {
    border: none;
    width: 100%;
    text-align: left;
}

/* each sliders positioned relatively to their parent */
.slider {
    float: left;
    width: 100px;
    padding: 0px 20px 0px 0px;
    margin-top: -5px;
}

.smallslider {
    width: 80px;
}

.sliderLabel {
    font-size: 11px;
}

.toolbar-left {
    float: left;
}

.toolbar-right {
    float: right;
}

.appletInfo {
    font-size: 20px;
}


