.*
*.pyc
*.pyo
.packaging
build.sh
upload.sh
src/data/*.gexf
src/*.gexf
*.swp
*.swo
*~
dist
dist/*
build/*
*/build
html/java/old_*
tinasoft-*.*
*.tar.gz
*.zip
src/js/fetopen.js
src/projects_en.html
src/projects_en_files/*
