
.ui-icon-projects { background-position: -192px -144px; }
.ui-icon-terms { background-position: -208px -144px; }
.ui-icon-labels { background-position: -208px -80px; }
.ui-icon-edges { background-position: -144px -176px; }
.ui-icon-nodes { background-position: -128px -80px; }
.ui-icon-pin { background-position: -208px -176px; }
.ui-icon-thunder { background-position: -208px -160px; }
.ui-icon-arrows { background-position: -96px -80px; }


body {
    font-size: 12px;
}

body {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.field {
    width:100%;
    overflow:auto;
    margin:5px 0px;
}

.vizframe {
    float:left;
    width:0px;
    height:0px;
    border:0px;
}
.whitebox {/*
    margin: 0;
    padding: 2px;*/
    width: 0px;
    height: 0px;
    background: #ffffff;
}
.invisiblebox {
   position: absolute;
   left: 30px;
   top: 120px;
}
.infodiv {

    float:left;
    /*
    top:130px;
    right: 0px;*/
    width: 0px;
    height: 0px;
    overflow:auto;
    /*z-index:2;*/
    /*background: #ffffff;*/
}

.nodeinfo {
    height:100%;
    overflow:auto;
}

.slider {
    position: relative;
    float:left;
    width:180px;
    height:12px;
    margin: 15px;
}

.sliders {
   position: absolute;
   left: 550px;
   top: 100px;
   color: #ffffee;
}

.tabfiller {
   height:500px;
}

.detailtext {
    color: #000000;
}

.vizframe {
    width:0px;
    height:0px;
    z-index:2;
    background-color: #ffffff;
    background: #ffffff;

}


.toolbardiv {
    padding:12px;
    /*width: 600px;*/
}

#toolbar {
    padding: 12px 3px;
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

