
/* Jquery toolbar icons */

.ui-icon-projects { background-position: -192px -144px; }
.ui-icon-terms { background-position: -208px -144px; }
.ui-icon-labels { background-position: -208px -80px; }
.ui-icon-edges { background-position: -144px -176px; }
.ui-icon-nodes { background-position: -128px -80px; }
.ui-icon-pin { background-position: -208px -176px; }
.ui-icon-thunder { background-position: -208px -160px; }
.ui-icon-arrows { background-position: -96px -80px; }

/* Jquery customization */

.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }

a.fg-button { float:left; }

/* remove extra button width in IE */
button.fg-button { width:auto; overflow:visible; }

.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }     /* solo icon buttons must have block properties for the text-indent to work */

.fg-buttonset { float:left; }
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button,
.fg-buttonset-multi .fg-button { margin-right: -1px;}

.fg-toolbar { padding: .5em; margin: 0;  }
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: 1em;  }



body {
    font-size: .7em;
}

#title {
    margin: 2px 2px;
}

#node_unselect {
    float: right;
    margin: 5px 2px;
}

#infodiv {
    margin: 4px 9px;
    /*height: 90%;*/
    /*overflow: auto;*/
}

#node_label {
    font-size: 12pt;
}

.tinaviz_node {
    border: none;
}

#node_table {
    border: none;
    width: 100%;
    text-align: left;
}

/* each sliders positioned relatively to their parent */
.slider {
    float: left;
    width: 180px;
    padding: 0px 20px 0px 0px;
    margin-top: -5px;
}

.search {
    float: right;
}

.tabfiller {
   height:500px;
}

.detailtext {
    color: #000000;
}

#macroSlider_nodeSize, #macroSlider_edgeWeight {
    margin: 2px 2px;
}


/*.toolbardiv {
    padding:12px;
    width: 600px;
}

#toolbar {
    padding: 12px 3px;
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}*/

