


 /* VERTICAL TOOLBAR FOR TINA */
 .ui-widget-header { border: 1px solid #231d2b; background: #30273a url(lib/js/jquery/css/eggplant/images/ui-bg_highlight-soft_25_30273a_1x100.png) 50% 50% repeat-x; color: #ffffff;  }
.ui-widget-vheader { border: 1px solid #231d2b; background: #30273a url(lib/js/jquery/css/eggplant/images/ui-bg_highlight-soft_25_30273a_1x100v.png) 50% 50% repeat-y; color: #ffffff; }
.ui-widget-miniheader { border: 1px solid #231d2b; background: #30273a 50% 50% repeat-y; color: #ffffff; }


.vizframe {
   position:absolute;/*
    top:0px;
    left:0px;*/
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:2;
    background-color: #ffffff;
    background: #ffffff;

}

.sidebariframe {
    position:absolute;
    top:30px;
    right:16px;
    width:294px;
    height:432px;
    background-color: #ffffff;
    background: #ffffff;
    border:solid 0px;
    z-index:1;
}

.sidebar {
    position:absolute;
    top:30px;
    right:16px;
    width: 280px;
    height: 415px;
    z-index:2;
}


.nodedetailsiframe {
    position:absolute;
    top:80px;
    left:40px;
    width:97px;
    height: 70px;
    background-color: #000000;
    background: #000000;
    border:solid 0px;
    z-index:1;
}

.nodedetails {
    position:absolute;
    top:80px;
    left:40px;
    width: 80px;
    height: 55px;
   /* background-color: #000000;
    background: #000000;*/
     border: solid 0px;
    z-index: 2;
}


.vtoolbariframe {
    position:absolute;
    top:30px;
    /*right: 325px;*/
    left: 40px;
    width: 47px;
    height:462px;
    background-color: #ffffff;
    background: #ffffff;
    border:solid 0px;
    z-index:3;
}

.vtoolbar {
    position:absolute;
    top: 30px;
    /*right: 317px;*/
    left: 40px;
    width: 45px;
    height: 460px;
    z-index:4;
    margin: 0px;
    padding: 0px;
}
.altslider {
    position: relative;
    left: 16px;
    height: 400px;
    top: 8px;
    bottom: 8px; 
}

.thresholdInput {
     position: relative;
     border: solid 0px;
     background: none;
     color: #ffffff;
     left: 8px;
}
.upperInput {
     top: 5px;
}
.lowerInput {
     bottom: 5px;
}

.nodedetailsh2 {
   font-family:Arial,Helvetica,sans-serif;
   font-size: 14px;
}
.nodedetailsh3 {
   font-family:Arial,Helvetica,sans-serif;
   font-size: 12px;
}
.nodedetailsp {
   font-family:Arial,Helvetica,sans-serif;
   font-size: 10px;
}

fieldset { 
    border:0;  
    margin-bottom: 40px;
}	

